
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
  font-size: 62.5%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-inline {
    display: inline-block
}



.main-body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    padding: 0 30px 0 30px;
    
}

.section-green {
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
    margin-top: -3rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    height: 80vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
}
.section-footer-gray {
    height: 7rem;
    background-color: #f7f7f7;
    margin-top: -3rem;
}

.product-index-section {
    background-color: #f7f7f7;
    padding: 20px;
    margin-top: -20vh;
    padding: 13rem 1rem;
}

.product-index-section-heading {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    text-align: center;
    padding-bottom: 2.5rem;
}

