
<div class="header">
    

    <div class="text-box">
        <h1 class="heading-primary">
            <span class="heading-primary-main">Bagtopia</span>
            <span class="heading-primary-sub">Bags for all of you</span>
        </h1>
    </div>
</div>