@using Microsoft.AspNetCore.Identity
@using System.Runtime.InteropServices
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model Oranges_ASPNet.Models.ViewModel.DashboardViewModel
@inject UserManager<ApplicationUser> userManager




<div class="row">
    <div class="col-md-12 ">

        <div class="row back-color">
            <div class="col-10 offset-1 p-5">
                <div class="text-light">
                    <h1>Admin dashboard</h1>
                    <h5>Bagtopia</h5>
                </div>

            </div>
        </div>

        <div class="section-grey">
            <div class="container-fluid">
                <div class="row gy-4 g-2 g-lg-3 mb-3">
                    <div class="col-4 box-shadow">
                        <div class="p-2 border  border-dark">

                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in Model.ApplicationUsers)
                                    {
                                        <tr>
                                            <td>@user.FullName</td>
                                            <td>@user.Email</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-2 ">
                        <div class="p-2 border border-dark" style="height: 14rem;">
                            
                        </div>
                    </div>
                    <div class="col-2 ">
                        <div class="p-2 border border-dark" style="height: 14rem;"></div>
                    </div>
                    <div class="col-2 ">
                        <div class="p-2 border border-dark" style="height: 14rem;"></div>
                    </div>
                    <div class="col-2 ">
                        <div class="p-2 border border-dark" style="height: 14rem;"></div>
                    </div>

                </div>
                <div class="row ">

                    <div class="col-8 ">

                        <div class="p-4">
                            <div class="mb-4">
                                <div>
                                    <h4 class="text-body">Recent Orders</h4>
                                </div>
                            </div>
                            @foreach (var order in Model.Orders)
                            {
                                <div class="row border-bottom border-dark  p-1 mb-3">
                                    <div class="col-3 m-auto">
                                        <h4>Order @order.Id</h4>
                                        <a asp-controller="Orders" asp-action="Details" class="text-success ">View order</a>
                                    </div>
                                    <div class="col-3 m-auto">
                                        <p> * in progress</p>
                                    </div>
                                    <div class="col-6 m-auto">
                                        @foreach (var item in order.OrderDetails)
                                        {
                                            <p class="float-end ">
                                                <img style="height: 3rem" src="@item.Product.ImgUrl" />
                                            </p>

                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="p-2 border border-dark" style="height: 14rem;"></div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>




     